
Hello <%= @user.email %>, your password has been reset. Please enter your new password:

<form method='post' action="/users/reset_password/confirmation">
	<input type="text" name="new_password" placeholder="New password here">
	<input type="submit" value="Confirm">
</form>
